name: ReleaseCI
env:
  EB_PACKAGE_S3_BUCKET_NAME : "telephone-to-s3"
  EB_APPLICATION_NAME       : "gsuite"
  EB_ENVIRONMENT_NAME       : "gsuite-env"
  DEPLOY_PACKAGE_NAME       : "gsuite-${{ github.sha }}.zip"
  AWS_REGION_NAME           : "ap-south-1"
​
on:
  push:
    branches:
      - main
​
jobs:
    integrate-to-s3:
       runs-on: ubuntu-latest

       steps:
         - name: Git clone repository
           uses: actions/checkout@v2

         - name: Create ZIP deployment package
           run : zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./  -x  *.git*

         - name: Configure AWS Credentils
           uses: aws-actions/configure-aws-credentials@v1
           with:
             aws-access-key-id    : ${{ secrets.BOT_AWS_ACCESS_KEY }}
             aws-secret-access-key: ${{ secrets.BOT_AWS_SECRET_KEY }}
             aws-region           : "ap-south-1"
​
         - name: Copy our Deployment package to S3 bucket
           run : aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{ env.EB_PACKAGE_S3_BUCKET_NAME}}/
