name: Deploy
env:
  PACKAGE_S3_BUCKET_NAME : "telephone-to-s3"
  AWS_REGION_NAME        : "us-east-1"
  DEPLOY_PACKAGE_NAME    : "gsuite-app-$(date +%Y%m%d).zip"

on:
  push:
    branches:
      - master

jobs:
    integrate-to-s3:
       runs-on: ubuntu-latest

       steps:
         - name: Git clone repository
           uses: actions/checkout@v2

         - name: Install
           run : pip install --download -r requirements.txt

         - name: Installing
           run : pip install --no-index --find-links=[file://] -r requirements.txt

         - name: Create ZIP deployment package
           run : zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./  -x  *.git*

         - name: Configure AWS Credentials
           uses: aws-actions/configure-aws-credentials@v1
           with:
             aws-access-key-id    : ${{ secrets.BOT_AWS_ACCESS_KEY }}
             aws-secret-access-key: ${{ secrets.BOT_AWS_SECRET_KEY }}
             aws-region           : ${{ env.AWS_REGION_NAME }}

         - name: Copy our Deployment package to S3 bucket
           run : aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{ env.PACKAGE_S3_BUCKET_NAME}}/
